<% include ./partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Employees!</h1>
      <p>
        <a class="btn btn-primary btn-lg" href="/add/employee">Add New Employee</a>
      </p>
    </div>
    <a href="/add/employee/logout">Logout</a>

  </header>
<div class="row text-center"  style="display:flex; flex-wrap:wrap">
    <% employees.forEach(employee => { %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img src="<%= employee.image %>" alt="employee image" width="200px">
          <div class="caption">
            <h4> <%= employee.name %> | <%= employee.title %> </ </h4>
            <p> <%= employee.desc %> </p>

          </div>
           <p>
            <a href="/api/employee/admin/<%= employee._id %>" class="btn btn-primary">More Info</a>
          </p>
        </div>
      </div>

    <%})%>
  </div>



</div>
